<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".lua" allowed="true" />
                    <add fileExtension=".cdb" allowed="true" />
                    <add fileExtension=".mp3" allowed="true" />
                    <add fileExtension=".wav" allowed="true" />
                    <add fileExtension=".txt" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".lua" mimeType="text/plain" />
            <mimeMap fileExtension=".cdb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".conf" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
